---
const { href, src, title, showTitle, alt, contrast, gradient, order } = Astro.props;
---
<a class="banner" href={href} title={title} data-order={order}>
	<figure data-gradient={gradient}>
		<img src={src} alt={alt} />
		<figcaption data-contrast={contrast}>{title}</figcaption>
	</figure>
	<!-- <picture>
		<source media="(min-width:650px)" srcset="img_pink_flowers.jpg">
		<source media="(min-width:465px)" srcset="img_white_flower.jpg">
		<img src="img_orange_flowers.jpg" alt="Flowers" style="width:auto;">
	</picture> -->
</a>